*{
  padding: 0;
  margin: 0;
}
.board{
  width: 630px;
  height: 600px;
}
.square {
  position: relative;
  height: 200px;
  width: 200px;
  float: left;
  border: 5px solid black;
  font-size: 5em;
}
.square:hover {
  background-color: aqua;
  cursor: pointer;
}